.login-page
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    background $darker
    z-index 2
    transition display 1s ease-out 0.5s

    .login-page__auth-form
        height 100px
        margin-top -100px
        position absolute
        text-align center
        top 50%
        width 100%

      .login-page__titie
          color #fff
          font-weight 100
          font-size 200%
          padding 23px 0
          margin 0

      .login-page__nickName
          border 0
          outline none
          padding 7.5px 0
          text-align center
          width 400px
          font-size 200%
          letter-spacing 3px
          background $darkest
          color $white