* {
    margin: 0;
    padding: 0;
}

:link, :visited {
    text-decoration: none;
}

body {
    font: 14px/18px Open Sans,Arial,Helvetica,sans-serif;
    color: #333;
}
/*LEFT-COL*/
.left-col {
    overflow: auto;
    background: #3E474C;
    width: 28.1%;
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
}
/*RIGHT-COL*/
.right-col {
    overflow: auto;
    background: #31373A;
    width: 71.9%;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
}

.login-page {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #31373A;
    z-index: 2;
    transition: display 1s ease-out 0.5s;
}

.login-page .form {
    height: 100px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

.title {
    color: #fff;
    font-weight: 100;
    font-size: 200%;
    padding: 23px 0;
}

.login-page .form .usernameInput {
    border: 0;
    outline: none;
    padding: 7.5px 0;
    text-align: center;
    width: 400px;
    font-size: 200%;
    letter-spacing: 3px;
    background: #383D40;
    color: #ffffff;
}

.message-container {
    bottom: 0;
    position: absolute;
    width: 100%;
    background: #383D40;
}

.message {
    bottom: 0;
    height: 55px;
    left: 0;
    outline: none;
    right: 0;
    width: 97.8%;
    background: #383D40;
    border: 0;
    color: #ffffff;
    padding: 0 15px;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    border-color: #555;
}

.messages {
    height: 91%;
    width: 100%;
    overflow: auto;
}

.user {
    color: #fff;
    width: 94%;
    padding: 15px;
    font-size: 18px;
}

.mess {
    color: #fff;
    padding: 10px 10px;
    width: 500px;
    overflow: auto;
}

.mess.own {
    margin-left: 400px;
}

.mess-username {
    font-size: 15px;
    margin-bottom: 3px;
    color: red;
    font-weight: bold;
}

.mess-username.own {
    color: #2F82AA;
}

input.message:hover {
    border-top: 2px solid #555;
}

input.message:focus {
    border-top: 2px solid #cd0;
}

::-webkit-scrollbar {
    height: 6px;
    width: 6px;
    background: rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb {
    background: #677073;
}

.name {
    position: relative;
}

/*.online {*/
    /*background: green;*/
    /*border-radius: 50%;*/
    /*width: 13px;*/
    /*height: 13px;*/
    /*position: absolute;*/
    /*top: 3px;*/
    /*right: -23px;*/
/*}*/

/*.offline {*/
    /*background: red;*/
    /*border-radius: 50%;*/
    /*width: 13px;*/
    /*height: 13px;*/
    /*position: absolute;*/
    /*top: 3px;*/
    /*right: -23px;*/
/*}*/

.online {
    width: 13px;
    height: 13px;
    background-color: green;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 0.9s infinite ease-in-out;
    animation: sk-scaleout 0.9s infinite ease-in-out;
    position: absolute;
    top: 5px;
    right: -23px;
    display: block;
}

@-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 100% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
          opacity: 0;
      }
}

.offline {
    width: 13px;
    height: 13px;
    background-color: red;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 0.9s infinite ease-in-out;
    animation: sk-scaleout 0.9s infinite ease-in-out;
    position: absolute;
    top: 5px;
    right: -23px;
    display: block;
}
