/**
 * Цветовая палитра
 */
$dark = #282C34
$darker = #21252B
$darkest = #1B1D23
$gray = #353B45
$gray-light = #4F565F
$gray-lighter = #6F7682
$white = #FFFFFF

$blue = #528BFF
$green = #73C990
$orange = #E2C08D

/**
 * Шрифт
 */
$font-family-base = Tahoma, sans-serif, Arial, Helvetica;

$font-size-base = 15px
$font-size-tiny = 14px
$font-size-large = ceil( $font-size-base * 1.25 )

$line-height-base = 1.428571429
$line-height-computed = floor( $font-size-base * $line-height-base )

$font-weight = 700

/**
 * Панели
 */
$left-panel = 16.46%
$right-panel = 83.54%